:root {
    --clr-bg-100: hsl(0, 0%, 100%);

    --clr-hl-300: hsl(293, 63%, 61%);
    
    --clr-pm-200: hsl(275, 100%, 97%);
    --clr-pm-400: hsl(292, 16%, 49%);
    --clr-pm-500: hsl(292, 42%, 14%);

    --ff: "Work Sans";
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 10rem 0;
    background-image: url('./assets/images/background-pattern-mobile.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: var(--clr-pm-200);
    font-family: var(--ff);
}

p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    margin: 0 auto;
    display: flex;
}

.card {
    background: var(--clr-bg-100);
    border-radius: .5rem;
    padding: 1rem;
}


@media only screen and (min-width: 768px) {
    body {
        background-image: url('./assets/images/background-pattern-desktop.svg');
    }
}